/* Врееменное оформление */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: lightsteelblue;
}
.header {
  min-height: 100px;
  background-color: slategray;
  color: white;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
/* Рабочий код */
.carousel {
  position: relative;
  height: 100px;
  display: flex;
  min-width: 100%;
  overflow: hidden;
  background-color: white;
}
.carousel::before,
.carousel::after {
  content: "";
  height: 100px;
  width: 200px;
  background-color: red;
  position: absolute;
  z-index: 1;
  top: 0;
  background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}
.carousel::before {
  left: 0;
}
.carousel::after {
  right: 0;
  transform: rotate(180deg);
}
.slide {
  height: inherit;
  display: flex;
  align-items: center;
  gap: 80px;
  animation: slideshow 30s linear infinite;
}
.slide__image {
  width: auto;
  height: calc(100% - 40px);
}
@keyframes slideshow {
  /* 0s */
  0% {
    transform: translateX(0);
  }
  /* 5s */
  100% {
    transform: translateX(-100%);
  }
}
